.task{
  background-color: rgb(238, 237, 237);
  padding: 5px 10px; 
  margin: 10px 0px;
}

.task h3{
  display:  flex;
  justify-content: space-between;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.task p {
  font-weight: 600;
  
}

.reminder {

  border-left: 4px solid green;

}

.form-control-check{
  display: flex;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}